<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helberton.IO</title>
    <script>
        const isViewing = {{ 'true' if isViewing else 'false' }};
        window.serverArgs = {
        isViewing: isViewing
    };
    </script>
    <script type="module" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>

<canvas id="canvas" width="800" height="800"></canvas>

</body>
</html>